.product-page {
  &__breadcrumb {
    p {
      color: green;
      margin: 1.5rem 0 0 0;
      font-size: 0.9rem;
    }
  }

  &__recommendation {
    // border: 1px solid rgb(226, 226, 226);
    p {
      font-size: 2rem;
      padding: 1rem 1rem 0 1rem;
    }
  }
}
