@import "../../scss/variables";

.product-card {
  border: 1px solid rgb(224, 224, 224);
  border-radius: 0.2rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 1.2rem;

  &__image {
    img {
      border-radius: 0.2rem;
      width: 100%;
      object-fit: cover;
    }
  }

  &__title {
    text-decoration: none;
    color: rgb(85, 85, 85);
    height: 50px;
    font-weight: 700;
    margin-bottom: 0.2rem;
    letter-spacing: 1px;
  }

  &__price {
    color: rgb(51, 124, 51);
    font-size: 1.2rem;
    font-weight: bolder;

    span {
      font-size: 1rem;
    }
  }

  &__cart-btn {
    border: 0;
    border-radius: 0.2rem;
    letter-spacing: 1px;
    color: #fff;
    background-color: rgb(86, 190, 72);
    font-weight: 700;
    font-size: 1rem;
    margin: 0.5rem 0;
    padding: 0.5rem;
    cursor: pointer;
    transition: 0.2s ease;

    &:hover {
      background-color: rgb(116, 255, 98);
    }
  }
}
